---
layout: default
---


<!-- <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
 -->
<article>
  <header>
    <h1><a href="{{ post.url }}">{{ page.title }}</a></h1>
  </header>
  <div class="content">
  	{{ content }}
    <!-- {{ post.body }} -->
  </div>{% unless page.hide_meta %}
  <footer>
    <span class='author'><a rel='author' href='http://tomafro.net'>Tom Ward</a></span>
    <span class='date'><a href="/{{ page.date | date: "%Y" }}/{{ page.date | date: "%m" }}">{{ page.date | date: "%e" | ordinalize }} {{ page.date | date: "%B"}} {{ page.date | date: "%Y"}}</a></span>
    <ul>{% for tag in page.tags %}
      <li><a href="/tags/{{tag}}" rel="tag">{{tag}}</a></li>{% endfor %}
    </ul>
  </footer>{% endunless %}
</article>
